In [1]:
import pandas as pd

In [2]:
pip install sqlalchemy psycopg2-binary

Requirement already satisfied: sqlalchemy in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.0.25)
Requirement already satisfied: psycopg2-binary in /usr/local/python/3.10.13/lib/python3.10/site-packages (2.9.9)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.10/site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/python/3.10.13/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
engine.connect()

In [7]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz')
# df = pd.read_csv('taxi+_zone_lookup')

/tmp/ipykernel_6381/2430429997.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv.gz')

In [8]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [9]:
df.tail()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,NaN,NaN,66,71,NaN,7.84,43.25,2.75,0.5,0.0,0.00,NaN,0.0,46.50,NaN,NaN,NaN
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,NaN,NaN,55,26,NaN,3.56,25.75,2.75,0.5,0.0,0.00,NaN,0.0,29.00,NaN,NaN,NaN
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,NaN,NaN,139,78,NaN,18.47,50.47,2.75,0.5,0.0,6.12,NaN,0.0,59.84,NaN,NaN,NaN
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,NaN,NaN,242,188,NaN,20.10,58.22,2.75,0.5,0.0,6.12,NaN,0.0,67.59,NaN,NaN,NaN
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,NaN,NaN,155,189,NaN,5.87,26.07,2.75,0.5,0.0,0.00,NaN,0.0,29.32,NaN,NaN,NaN

In [10]:
df.tpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

/tmp/ipykernel_6381/3869521473.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
/tmp/ipykernel_6381/3869521473.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [14]:
df.to_sql(name='green_tripdata', con=engine, index=False)

In [13]:
query = """
SELECT * FROM green_tripdata limit 10
"""

pd.read_sql(query, con=engine)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.00,None,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.00,None,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.00,None,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.00,None,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.00,None,0.3,18.36,1.0,1.0,0.0
5,2.0,2019-09-01 00:55:37,2019-09-01 01:17:02,N,1.0,7,41,1.0,6.26,21.0,0.5,0.5,0.00,6.12,None,0.3,28.42,2.0,1.0,0.0
6,2.0,2019-09-01 00:28:55,2019-09-01 00:52:09,N,1.0,33,37,1.0,4.34,18.0,0.5,0.5,3.86,0.00,None,0.3,23.16,1.0,1.0,0.0
7,1.0,2019-09-01 00:03:13,2019-09-01 00:03:32,N,1.0,55,55,1.0,1.20,2.5,0.5,0.5,0.00,0.00,None,0.3,3.80,3.0,1.0,0.0
8,1.0,2019-09-01 00:15:28,2019-09-01 00:43:22,N,1.0,55,89,1.0,0.00,22.2,0.0,0.5,0.00,0.00,None,0.3,23.00,1.0,1.0,0.0
9,2.0,2019-09-01 00:29:16,2019-09-01 00:30:15,N,1.0,17,17,1.0,0.14,2.5,0.5,0.5,0.00,0.00,None,0.3,3.80,2.0,1.0,0.0

In [31]:
df = pd.read_csv('taxi+_zone_lookup.csv')
df.to_sql(name='taxi_zone_lookup', con=engine, index=False)

265

In [16]:
query= """SELECT * FROM taxi_zone_lookup limit 10
"""
pd.read_sql(query, con=engine)

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone
5           6  Staten Island  Arrochar/Fort Wadsworth    Boro Zone
6           7         Queens                  Astoria    Boro Zone
7           8         Queens             Astoria Park    Boro Zone
8           9         Queens               Auburndale    Boro Zone
9          10         Queens             Baisley Park    Boro Zone